In [21]:
import sys
sys.executable
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import conlleval
import pandas as pd

def performance_by_slot(file_name):
    x = conlleval.eval_conll_eval("/Users/slouvan/sandbox/cross-domain/models/anago/ATIS_BASE_MODEL_RANDOM/test_pred.txt")
    performance_by_slot = {}
    performance_by_slot['F1'] = [ "{0:.2f}".format(m.fscore * 100) for i, m in by_type.items() if len(i) > 0]
    performance_by_slot['Recall'] = [ "{0:.2f}".format(m.rec * 100) for i, m in by_type.items() if len(i) > 0]
    performance_by_slot['Precision'] = [ "{0:.2f}".format(m.prec * 100) for i, m in by_type.items() if len(i) > 0]
    performance_by_slot['Slot'] = [i for i, m in by_type.items() if len(i) > 0] 

    df = pd.DataFrame(performance_by_slot)
    df = df[['Slot', 'Precision','Recall', 'F1']]
    
    return df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
df_test_performance = performance_by_slot("/Users/slouvan/sandbox/cross-domain/models/anago/ATIS_BASE_MODEL_RANDOM/test_pred.txt")

#x = conlleval.eval_conll_eval("/Users/slouvan/sandbox/cross-domain/models/anago/ATIS_BASE_MODEL_RANDOM/test_pred.txt")

['stoploc.city_name', '', 'round_trip', 'state_name', 'toloc.state_code', 'fromloc.city_name', 'fare_amount', 'flight_stop', 'arrive_time.start_time', 'cost_relative', 'meal_code', 'connect', 'arrive_time.end_time', 'depart_time.period_mod', 'depart_time.start_time', 'depart_date.day_number', 'meal_description', 'state_code', 'arrive_time.time', 'airport_code', 'depart_date.today_relative', 'airline_name', 'airport_name', 'flight_time', 'flight_number', 'return_date.day_name', 'arrive_time.period_of_day', 'flight_mod', 'fare_basis_code', 'depart_time.time_relative', 'depart_date.month_name', 'aircraft_code', 'arrive_date.date_relative', 'class_type', 'days_code', 'fromloc.state_code', 'toloc.state_name', 'toloc.airport_name', 'arrive_date.day_number', 'toloc.city_name', 'period_of_day', 'flight_days', 'city_name', 'arrive_date.day_name', 'fromloc.airport_code', 'arrive_date.month_name', 'airline_code', 'mod', 'depart_time.end_time', 'fromloc.state_name', 'toloc.airport_code', 'depart_time.time', 'depart_date.date_relative', 'toloc.country_name', 'day_name', 'fromloc.airport_name', 'restriction_code', 'or', 'depart_date.year', 'transport_type', 'depart_date.day_name', 'return_date.date_relative', 'arrive_time.time_relative', 'economy', 'meal', 'depart_time.period_of_day']
['stoploc.city_name', 'round_trip', 'state_name', 'toloc.state_code', 'fromloc.city_name', 'fare_amount', 'flight_stop', 'arrive_time.start_time', 'cost_relative', 'economy', 'connect', 'arrive_time.end_time', 'depart_time.period_mod', 'depart_time.start_time', 'depart_date.day_number', 'meal_description', 'state_code', 'arrive_time.time', 'airport_code', 'depart_date.today_relative', 'airline_name', 'airport_name', 'flight_time', 'flight_number', 'fromloc.state_name', 'arrive_time.period_of_day', 'flight_mod', 'fare_basis_code', 'depart_time.time_relative', 'depart_date.month_name', 'aircraft_code', 'arrive_date.date_relative', 'class_type', 'days_code', 'fromloc.state_code', 'toloc.state_name', 'toloc.airport_name', 'arrive_date.day_number', 'toloc.city_name', 'period_of_day', 'flight_days', 'city_name', 'arrive_date.day_name', 'fromloc.airport_code', 'arrive_date.month_name', 'airline_code', 'mod', 'return_date.today_relative', 'depart_time.end_time', 'toloc.airport_code', 'depart_time.time', 'depart_date.date_relative', 'toloc.country_name', 'day_name', 'fromloc.airport_name', 'restriction_code', 'meal', 'depart_date.year', 'transport_type', 'depart_date.day_name', 'return_date.date_relative', 'arrive_time.time_relative', 'stoploc.airport_name', 'or', 'depart_time.period_of_day']
processed 10950 tokens with 2835 phrases; found: 2855 phrases; correct: 2721.
accuracy:  98.37%; precision:  95.31%; recall:  95.98%; FB1:  95.64
                 : precision:   0.00%; recall:   0.00%; FB1:   0.00  0
    aircraft_code: precision:  90.32%; recall:  84.85%; FB1:  87.50  31
     airline_code: precision:  97.14%; recall: 100.00%; FB1:  98.55  35
     airline_name: precision:  91.59%; recall:  97.03%; FB1:  94.23  107
     airport_code: precision:  66.67%; recall:  44.44%; FB1:  53.33  6
     airport_name: precision:  83.33%; recall:  47.62%; FB1:  60.61  12
arrive_date.date_relative: precision: 100.00%; recall: 100.00%; FB1: 100.00  2
arrive_date.day_name: precision:  78.57%; recall: 100.00%; FB1:  88.00  14
arrive_date.day_number: precision:  71.43%; recall:  83.33%; FB1:  76.92  7
arrive_date.month_name: precision:  62.50%; recall:  83.33%; FB1:  71.43  8
arrive_time.end_time: precision:  88.89%; recall: 100.00%; FB1:  94.12  9
arrive_time.period_of_day: precision:  75.00%; recall: 100.00%; FB1:  85.71  8
arrive_time.start_time: precision: 100.00%; recall: 100.00%; FB1: 100.00  8
 arrive_time.time: precision:  94.29%; recall:  97.06%; FB1:  95.65  35
arrive_time.time_relative: precision:  87.10%; recall:  87.10%; FB1:  87.10  31
        city_name: precision:  94.29%; recall:  57.89%; FB1:  71.74  35
       class_type: precision:  88.89%; recall: 100.00%; FB1:  94.12  27
          connect: precision: 100.00%; recall: 100.00%; FB1: 100.00  6
    cost_relative: precision: 100.00%; recall:  97.30%; FB1:  98.63  36
         day_name: precision: 100.00%; recall:  50.00%; FB1:  66.67  1
        days_code: precision: 100.00%; recall: 100.00%; FB1: 100.00  1
depart_date.date_relative: precision:  89.47%; recall: 100.00%; FB1:  94.44  19
depart_date.day_name: precision:  99.06%; recall:  99.06%; FB1:  99.06  212
depart_date.day_number: precision:  98.15%; recall:  96.36%; FB1:  97.25  54
depart_date.month_name: precision:  98.18%; recall:  96.43%; FB1:  97.30  55
depart_date.today_relative: precision:  88.89%; recall:  88.89%; FB1:  88.89  9
 depart_date.year: precision: 100.00%; recall: 100.00%; FB1: 100.00  3
depart_time.end_time: precision:  66.67%; recall:  66.67%; FB1:  66.67  3
depart_time.period_mod: precision:  83.33%; recall: 100.00%; FB1:  90.91  6
depart_time.period_of_day: precision: 100.00%; recall:  93.08%; FB1:  96.41  121
depart_time.start_time: precision: 100.00%; recall: 100.00%; FB1: 100.00  3
 depart_time.time: precision:  87.69%; recall: 100.00%; FB1:  93.44  65
depart_time.time_relative: precision:  96.88%; recall:  95.38%; FB1:  96.12  64
          economy: precision: 100.00%; recall: 100.00%; FB1: 100.00  6
      fare_amount: precision: 100.00%; recall: 100.00%; FB1: 100.00  2
  fare_basis_code: precision:  94.44%; recall: 100.00%; FB1:  97.14  18
      flight_days: precision: 100.00%; recall: 100.00%; FB1: 100.00  10
       flight_mod: precision:  65.52%; recall:  79.17%; FB1:  71.70  29
    flight_number: precision:  84.62%; recall: 100.00%; FB1:  91.67  13
      flight_stop: precision: 100.00%; recall: 100.00%; FB1: 100.00  21
      flight_time: precision:  50.00%; recall: 100.00%; FB1:  66.67  2
fromloc.airport_code: precision:  55.56%; recall: 100.00%; FB1:  71.43  9
fromloc.airport_name: precision:  50.00%; recall: 100.00%; FB1:  66.67  24
fromloc.city_name: precision:  98.46%; recall:  99.86%; FB1:  99.15  714
fromloc.state_code: precision: 100.00%; recall: 100.00%; FB1: 100.00  23
fromloc.state_name: precision:  94.44%; recall: 100.00%; FB1:  97.14  18
             meal: precision:  94.12%; recall: 100.00%; FB1:  96.97  17
        meal_code: precision:   0.00%; recall:   0.00%; FB1:   0.00  0
 meal_description: precision:  90.00%; recall:  90.00%; FB1:  90.00  10
              mod: precision: 100.00%; recall:  50.00%; FB1:  66.67  1
               or: precision:  50.00%; recall: 100.00%; FB1:  66.67  6
    period_of_day: precision: 100.00%; recall:  75.00%; FB1:  85.71  3
 restriction_code: precision: 100.00%; recall: 100.00%; FB1: 100.00  4
return_date.date_relative: precision:   0.00%; recall:   0.00%; FB1:   0.00  1
return_date.day_name: precision:   0.00%; recall:   0.00%; FB1:   0.00  0
return_date.today_relative: precision:   0.00%; recall:   0.00%; FB1:   0.00  1
       round_trip: precision: 100.00%; recall:  97.26%; FB1:  98.61  71
       state_code: precision: 100.00%; recall: 100.00%; FB1: 100.00  1
       state_name: precision:   0.00%; recall:   0.00%; FB1:   0.00  1
stoploc.airport_name: precision:   0.00%; recall:   0.00%; FB1:   0.00  1
stoploc.city_name: precision:  95.24%; recall: 100.00%; FB1:  97.56  21
toloc.airport_code: precision: 100.00%; recall:  75.00%; FB1:  85.71  3
toloc.airport_name: precision: 100.00%; recall: 100.00%; FB1: 100.00  3
  toloc.city_name: precision:  97.13%; recall:  99.30%; FB1:  98.20  732
toloc.country_name: precision: 100.00%; recall: 100.00%; FB1: 100.00  1
 toloc.state_code: precision: 100.00%; recall: 100.00%; FB1: 100.00  18
 toloc.state_name: precision:  92.86%; recall:  92.86%; FB1:  92.86  28
   transport_type: precision:  90.00%; recall:  90.00%; FB1:  90.00  10

                          Slot Precision  Recall      F1
0            stoploc.city_name     95.24  100.00   97.56
1                   round_trip    100.00   97.26   98.61
2                   state_name      0.00    0.00    0.00
3             toloc.state_code    100.00  100.00  100.00
4            fromloc.city_name     98.46   99.86   99.15
5                 airline_name     91.59   97.03   94.23
6                  flight_stop    100.00  100.00  100.00
7       arrive_time.start_time    100.00  100.00  100.00
8                cost_relative    100.00   97.30   98.63
9                    city_name     94.29   57.89   71.74
10          fromloc.state_code    100.00  100.00  100.00
11        arrive_date.day_name     78.57  100.00   88.00
12                     connect    100.00  100.00  100.00
13        arrive_time.end_time     88.89  100.00   94.12
14      depart_time.period_mod     83.33  100.00   90.91
15                   meal_code      0.00    0.00    0.00
16      depart_date.day_number     98.15   96.36   97.25
17            meal_description     90.00   90.00   90.00
18        fromloc.airport_code     55.56  100.00   71.43
19            arrive_time.time     94.29   97.06   95.65
20  depart_date.today_relative     88.89   88.89   88.89
21                 fare_amount    100.00  100.00  100.00
22                airport_name     83.33   47.62   60.61
23      arrive_date.month_name     62.50   83.33   71.43
24                 flight_time     50.00  100.00   66.67
25                     economy    100.00  100.00  100.00
26               flight_number     84.62  100.00   91.67
27        return_date.day_name      0.00    0.00    0.00
28          toloc.airport_name    100.00  100.00  100.00
29                  flight_mod     65.52   79.17   71.70
..                         ...       ...     ...     ...
37                airport_code     66.67   44.44   53.33
38            toloc.state_name     92.86   92.86   92.86
39   arrive_time.period_of_day     75.00  100.00   85.71
40             toloc.city_name     97.13   99.30   98.20
41               period_of_day    100.00   75.00   85.71
42   depart_time.period_of_day    100.00   93.08   96.41
43                 flight_days    100.00  100.00  100.00
44      depart_time.start_time    100.00  100.00  100.00
45                  state_code    100.00  100.00  100.00
46             fare_basis_code     94.44  100.00   97.14
47   arrive_time.time_relative     87.10   87.10   87.10
48                         mod    100.00   50.00   66.67
49        stoploc.airport_name      0.00    0.00    0.00
50  return_date.today_relative      0.00    0.00    0.00
51          fromloc.state_name     94.44  100.00   97.14
52          toloc.airport_code    100.00   75.00   85.71
53            depart_time.time     87.69  100.00   93.44
54   depart_date.date_relative     89.47  100.00   94.44
55                    day_name    100.00   50.00   66.67
56      arrive_date.day_number     71.43   83.33   76.92
57            restriction_code    100.00  100.00  100.00
58                        meal     94.12  100.00   96.97
59            depart_date.year    100.00  100.00  100.00
60              transport_type     90.00   90.00   90.00
61        depart_date.day_name     99.06   99.06   99.06
62          toloc.country_name    100.00  100.00  100.00
63                airline_code     97.14  100.00   98.55
64        fromloc.airport_name     50.00  100.00   66.67
65                          or     50.00  100.00   66.67
66        depart_time.end_time     66.67   66.67   66.67

[67 rows x 4 columns]

In [24]:
df_test_performance

                          Slot Precision  Recall      F1
0            stoploc.city_name     95.24  100.00   97.56
1                   round_trip    100.00   97.26   98.61
2                   state_name      0.00    0.00    0.00
3             toloc.state_code    100.00  100.00  100.00
4            fromloc.city_name     98.46   99.86   99.15
5                 airline_name     91.59   97.03   94.23
6                  flight_stop    100.00  100.00  100.00
7       arrive_time.start_time    100.00  100.00  100.00
8                cost_relative    100.00   97.30   98.63
9                    city_name     94.29   57.89   71.74
10          fromloc.state_code    100.00  100.00  100.00
11        arrive_date.day_name     78.57  100.00   88.00
12                     connect    100.00  100.00  100.00
13        arrive_time.end_time     88.89  100.00   94.12
14      depart_time.period_mod     83.33  100.00   90.91
15                   meal_code      0.00    0.00    0.00
16      depart_date.day_number     98.15   96.36   97.25
17            meal_description     90.00   90.00   90.00
18        fromloc.airport_code     55.56  100.00   71.43
19            arrive_time.time     94.29   97.06   95.65
20  depart_date.today_relative     88.89   88.89   88.89
21                 fare_amount    100.00  100.00  100.00
22                airport_name     83.33   47.62   60.61
23      arrive_date.month_name     62.50   83.33   71.43
24                 flight_time     50.00  100.00   66.67
25                     economy    100.00  100.00  100.00
26               flight_number     84.62  100.00   91.67
27        return_date.day_name      0.00    0.00    0.00
28          toloc.airport_name    100.00  100.00  100.00
29                  flight_mod     65.52   79.17   71.70
..                         ...       ...     ...     ...
37                airport_code     66.67   44.44   53.33
38            toloc.state_name     92.86   92.86   92.86
39   arrive_time.period_of_day     75.00  100.00   85.71
40             toloc.city_name     97.13   99.30   98.20
41               period_of_day    100.00   75.00   85.71
42   depart_time.period_of_day    100.00   93.08   96.41
43                 flight_days    100.00  100.00  100.00
44      depart_time.start_time    100.00  100.00  100.00
45                  state_code    100.00  100.00  100.00
46             fare_basis_code     94.44  100.00   97.14
47   arrive_time.time_relative     87.10   87.10   87.10
48                         mod    100.00   50.00   66.67
49        stoploc.airport_name      0.00    0.00    0.00
50  return_date.today_relative      0.00    0.00    0.00
51          fromloc.state_name     94.44  100.00   97.14
52          toloc.airport_code    100.00   75.00   85.71
53            depart_time.time     87.69  100.00   93.44
54   depart_date.date_relative     89.47  100.00   94.44
55                    day_name    100.00   50.00   66.67
56      arrive_date.day_number     71.43   83.33   76.92
57            restriction_code    100.00  100.00  100.00
58                        meal     94.12  100.00   96.97
59            depart_date.year    100.00  100.00  100.00
60              transport_type     90.00   90.00   90.00
61        depart_date.day_name     99.06   99.06   99.06
62          toloc.country_name    100.00  100.00  100.00
63                airline_code     97.14  100.00   98.55
64        fromloc.airport_name     50.00  100.00   66.67
65                          or     50.00  100.00   66.67
66        depart_time.end_time     66.67   66.67   66.67

[67 rows x 4 columns]

                          Slot Precision  Recall      F1
0            stoploc.city_name     95.24  100.00   97.56
1                   round_trip    100.00   97.26   98.61
2                   state_name      0.00    0.00    0.00
3             toloc.state_code    100.00  100.00  100.00
4            fromloc.city_name     98.46   99.86   99.15
5                 airline_name     91.59   97.03   94.23
6                  flight_stop    100.00  100.00  100.00
7       arrive_time.start_time    100.00  100.00  100.00
8                cost_relative    100.00   97.30   98.63
9                    city_name     94.29   57.89   71.74
10          fromloc.state_code    100.00  100.00  100.00
11        arrive_date.day_name     78.57  100.00   88.00
12                     connect    100.00  100.00  100.00
13        arrive_time.end_time     88.89  100.00   94.12
14      depart_time.period_mod     83.33  100.00   90.91
15                   meal_code      0.00    0.00    0.00
16      depart_date.day_number     98.15   96.36   97.25
17            meal_description     90.00   90.00   90.00
18        fromloc.airport_code     55.56  100.00   71.43
19            arrive_time.time     94.29   97.06   95.65
20  depart_date.today_relative     88.89   88.89   88.89
21                 fare_amount    100.00  100.00  100.00
22                airport_name     83.33   47.62   60.61
23      arrive_date.month_name     62.50   83.33   71.43
24                 flight_time     50.00  100.00   66.67
25                     economy    100.00  100.00  100.00
26               flight_number     84.62  100.00   91.67
27        return_date.day_name      0.00    0.00    0.00
28          toloc.airport_name    100.00  100.00  100.00
29                  flight_mod     65.52   79.17   71.70
..                         ...       ...     ...     ...
37                airport_code     66.67   44.44   53.33
38            toloc.state_name     92.86   92.86   92.86
39   arrive_time.period_of_day     75.00  100.00   85.71
40             toloc.city_name     97.13   99.30   98.20
41               period_of_day    100.00   75.00   85.71
42   depart_time.period_of_day    100.00   93.08   96.41
43                 flight_days    100.00  100.00  100.00
44      depart_time.start_time    100.00  100.00  100.00
45                  state_code    100.00  100.00  100.00
46             fare_basis_code     94.44  100.00   97.14
47   arrive_time.time_relative     87.10   87.10   87.10
48                         mod    100.00   50.00   66.67
49        stoploc.airport_name      0.00    0.00    0.00
50  return_date.today_relative      0.00    0.00    0.00
51          fromloc.state_name     94.44  100.00   97.14
52          toloc.airport_code    100.00   75.00   85.71
53            depart_time.time     87.69  100.00   93.44
54   depart_date.date_relative     89.47  100.00   94.44
55                    day_name    100.00   50.00   66.67
56      arrive_date.day_number     71.43   83.33   76.92
57            restriction_code    100.00  100.00  100.00
58                        meal     94.12  100.00   96.97
59            depart_date.year    100.00  100.00  100.00
60              transport_type     90.00   90.00   90.00
61        depart_date.day_name     99.06   99.06   99.06
62          toloc.country_name    100.00  100.00  100.00
63                airline_code     97.14  100.00   98.55
64        fromloc.airport_name     50.00  100.00   66.67
65                          or     50.00  100.00   66.67
66        depart_time.end_time     66.67   66.67   66.67

[67 rows x 4 columns]

In [16]:
qgrid.show_grid(df, show_toolbar=True)

UWdyaWRXaWRnZXQoZ3JpZF9vcHRpb25zPXsnaGlnaGxpZ2h0U2VsZWN0ZWRSb3cnOiBUcnVlLCAnZnVsbFdpZHRoUm93cyc6IFRydWUsICdyb3dIZWlnaHQnOiAyOCwgJ2VuYWJsZUNvbHVtblLigKY=